/* App-wide styles
body {
  font-family: 'Proxima Nova', sans-serif;
}

#root {
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.carousel .slick-slide {
  display: flex;
  justify-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
